body {
  font-family: sans-serif;
  color: #222; 
}

#container {
  display: flex;
  overflow-x: scroll;
  height: 100vh;
}

#top-fadein, #bottom-fadein {
  position: fixed; 
  left: 0; 
  height: 2rem; 
  width: 100vh; 
}

#top-fadein {
  top: 0; 
  background: linear-gradient(to bottom, #ffff 20%, #fff0);
}
  
#bottom-fadein {
  bottom: 0; 
  background: linear-gradient(to bottom, #fff0, #ffff 80%);
}

.column {
  flex: 0 0 auto; /* set flex-grow, flex-shrink and flex-basis to 0, so the boxes don't stretch */
  margin-right: 10px; /* add margin between the boxes */
  height: 100%;
  box-sizing: border-box;
  padding: 1rem; 
  overflow-y: scroll;
  align-items: center;
}

.arrow {
  font-size: 2rem;
  line-height: 100vh;
  overflow-y: hidden;
  color: #333; 
  padding: 1rem; 
  user-select: none;
}

.text {
  width: max(40vw, 40vh);
}

#title-page {
  width: max(50vw, 50vh);
}
