body {
  margin:0 ;
  font-family: sans-serif;
  color: #fed; 
  background-color: #0b0808; 
}

#container {
  display: flex;
  overflow-x: scroll;
  height: 100vh;
}

#top-fadein, #bottom-fadein {
  position: fixed; 
  left: 0; 
  height: 3rem; 
  width: 100vw; 
  pointer-events: none;
}

#top-fadein {
  top: 0; 
  background-color: ; 
  background: linear-gradient(to bottom, #0b0808 10%, #0000);
}
  
#bottom-fadein {
  bottom: 0; 
  background: linear-gradient(to bottom, #0000, #0b0808 90%);
}

.column {
  flex: 0 0 auto; /* set flex-grow, flex-shrink and flex-basis to 0, so the boxes don't stretch */
  margin-right: 10px; /* add margin between the boxes */
  height: 100%;
  box-sizing: border-box;
  padding: 1rem; 
  overflow-y: scroll;
  align-items: center;
}

.arrow {
  font-size: 2rem;
  line-height: 100vh;
  overflow-y: hidden;
  color: #cba; 
  padding: 1rem; 
  user-select: none;
}

.text {
  position: relative;
  width: max(40vw, 40vh);
}

.scroll {
  position: relative;
  margin: 0; 
}

.text p {
  position: absolute;
  left: 0; 
  width: 100%;
  word-wrap: break-word;
}

#title-page {
  width: max(50vw, 50vh);
}

a {
  color: #acf;
}

a:visited {
  color: #f9e;
}

* {
  outline: 1px solid #f00;
}
